<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/shop.css" />

</head>
<body>
    <div class="grid-continer">
        <div>name </div>    
        <div>author</div>
        <div>price</div>
        
        <div>the secret </div>    
        <div>yonatn elkana</div>
        <div>20.0</div>
        
        <div>the stone </div>    
        <div>yoav elkana</div>
        <div>50.0</div>
    </div>
</body>
</html>